* text=auto

*.lock linguist-generated=true
*-lock.json linguist-generated=true
*.pb binary lingust-generated=true
variables.index binary linguist-generated=true
variables.data-* binary linguist-generated=true
